@{
    ViewBag.Title = "Password Reset Success";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Password reset success!
    </p>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>