@model Microsoft.AspNet.Identity.IdentityResult
@{
    ViewBag.Title = "Password Reset Failure";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Password reset failed!
    </p>
    
    @if ((Model != null) && (Model.Errors != null))
    {
        <p>Details: </p><br />

        foreach (var error in Model.Errors)
        {
            <p style="color:red; font-style:italic; font-weight:300">
                @error
            </p>
            <br />
        }
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>