<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:sql='http://schemas.microsoft.com/wix/SqlExtension'>
	<Fragment>
		<DirectoryRef Id="ProgramMenuFolder3">
			<Directory Id="CfgProgramMenuFolder2" Name="ConfigurationTool">
			</Directory>
		</DirectoryRef>
		<DirectoryRef Id="INSTALLLOCATION">
      <Component Id="CloudCacheStoreComponent" Guid="{9984575B-E0C5-4D11-B6C6-BF010EACDB25}">
        <File Id="CloudCacheStore.CloudConfigsXml" Name="Cloud-Configs.xml" Source="$(var.ConfigurationProtectedTool.TargetDir)Cloud-Configs.xml"/>
      </Component>
			<Directory Id="CFG" Name="Configuration">
				<Component Id="ProductCompoeer56" Guid="{FE891A9E-A7EC-46F8-997F-422A72A2F8E5}" >
					<CreateFolder Directory="CFG">
						<Permission User="Everyone" GenericAll="yes" />
					</CreateFolder>
				</Component>
				<Component Id="CfgComponent" Guid="{0E8CF386-814F-4633-A742-0289C342CC24}" >
					<File Id="ConfigurationProtrtrtr" Name="ConfigurationProtectedTool.exe" KeyPath="yes"   Source="$(var.ConfigurationProtectedTool.TargetDir)ConfigurationProtectedTool.exe"/>
					<File Id="DISCommonUtiererer" Name="DIS.Common.Utility.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)DIS.Common.Utility.dll"/>
					<File Id="MicrosoftPracticesEnterpriseLibfgf56565" Name="Microsoft.Practices.EnterpriseLibrary.Common.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)Microsoft.Practices.EnterpriseLibrary.Common.dll"/>
					<File Id="MicrosoftPracticesEnterpriseLibe3443434ds" Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll"/>
					<File Id="MicrosoftPracticesEnter123df66" Name="Microsoft.Practices.EnterpriseLibrary.Logging.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.dll"/>
					<File Id="MicrosoftPracticesServiceLocat899og" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)Microsoft.Practices.ServiceLocation.dll"/>
					<File Id="MicrosoftPractices889dfe" Name="Microsoft.Practices.Unity.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)Microsoft.Practices.Unity.dll"/>
					<File Id="MicrosoftPractices890dde" Name="Microsoft.Practices.Unity.Interception.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)Microsoft.Practices.Unity.Interception.dll"/>
          <File Id="ConfigurationTool.DISConfiguationCloudClient" Name="DISConfigurationCloud.Client.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)DISConfigurationCloud.Client.dll"/>
          <File Id="ConfigurationTool.DISConfiguationCloudResourceIntegrator" Name="DISConfigurationCloud.ResourceIntegrator.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)DISConfigurationCloud.ResourceIntegrator.dll"/>
          <File Id="ConfigurationTool.StorageManagement" Name="DISConfigurationCloud.StorageManagement.dll" Source="$(var.ConfigurationProtectedTool.TargetDir)DISConfigurationCloud.StorageManagement.dll"/>
          <!--<File Id="ConfigurationTool.CloudConfigsXml" Name="Cloud-Configs.xml" Source="$(var.ConfigurationProtectedTool.TargetDir)Cloud-Configs.xml"/>-->
          <File Id="ConfigurationTool.KeyStorepublishsql" Name="KeyStore.publish.sql" Source="$(var.ConfigurationProtectedTool.TargetDir)KeyStore.publish.sql"/>
					<RemoveFolder Id="RemoveCfg" Directory="CFG" On="uninstall"/>
				</Component>
				<Component Id="CfgModifyConfig" Guid="{0B343B25-CB75-4195-AE1B-19858F81F29D}">
					<File Id="ConfigurationProtecteduiu422" Name="ConfigurationProtectedTool.exe.config" Source="$(var.ConfigurationProtectedTool.TargetDir)ConfigurationProtectedTool.exe.config"/>
					<util:XmlFile Id="CfgInstallTypeStr"  Action="setValue" Permanent="yes" File="[CFG]ConfigurationProtectedTool.exe.config"  ElementPath="/configuration/appSettings/add[\[]@key='InstallType'[\]]" Name="value"  Value="[INSTALLTYPEVALUE]"   Sequence="1"  />
				</Component>
			</Directory>
		</DirectoryRef>
		<DirectoryRef Id="ProgramMenuFolder1">
			<Component Id="CfgProgramMenuShortcutsComponent" Guid="{6FEC1173-C2F3-4BB3-AA02-EA6AE10F0E8E}">
        <!--<Shortcut Id="DISConfigurationCloudStartMenuShortcut" Name="DIS Configuration Cloud - OEMCorp" Icon="IconDISConfCloudStartMenu.exe" Target="[ConfigurationCloudServerAddress]" Directory="CfgProgramMenuFolder2" Show="maximized">
          <Icon Id="IconDISConfCloudStartMenu.exe" SourceFile="$(var.ConfigurationProtectedTool.TargetDir)ConfigurationProtectedTool.exe"/>
        </Shortcut>
        <Shortcut Id="DISConfigurationCloudDesktopShortcut" Name="DIS Configuration Cloud - OEMCorp" Icon="IconDISConfCloudDesktop.exe" Target="[ConfigurationCloudServerAddress]" Directory="DesktopFolder" Show="maximized">
          <Icon Id="IconDISConfCloudDesktop.exe" SourceFile="$(var.ConfigurationProtectedTool.TargetDir)ConfigurationProtectedTool.exe"/>
        </Shortcut>-->
        <Shortcut Id="CfgApplicationStartMenuShortcut" Name="Configuration Protected Tool - OEMCorp"  Target="[CFG]ConfigurationProtectedTool.exe" Directory="CfgProgramMenuFolder2" WorkingDirectory="CFG"/>
        <!--<util:InternetShortcut Id="DISConfiguraionCloudStartMenuShortcut" Name="DIS Configuraion Cloud - OEMCorp" Target="[CONFIGURATION_CLOUD_SERVER_ADDRESS]" Type="url" Directory="CfgProgramMenuFolder2"/>
        <util:InternetShortcut Id="DISConfiguraionCloudDesktopFolder" Name="DIS Configuraion Cloud - OEMCorp" Target="[CONFIGURATION_CLOUD_SERVER_ADDRESS]" Type="url" Directory="DesktopFolder"/>-->
        <RemoveFolder Id="CfgRemoveProgramMenuFolder2" Directory="CfgProgramMenuFolder2" On="uninstall" />
				<RegistryValue Root="HKCU" Key="SOFTWARE\Microsoft\DIS Solution\OEM\ConfigurationTool" Name="ConfigurationToolStartMenu" Type="integer" Value="1"/>
			</Component>
			</DirectoryRef>
		<ComponentGroup Id="CfgFeatures">
			<ComponentRef Id="CfgProgramMenuShortcutsComponent"></ComponentRef>
			<ComponentRef Id="CfgModifyConfig"></ComponentRef>
			<ComponentRef Id="CfgComponent"/>
			<ComponentRef Id="ProductCompoeer56"/>
      <ComponentRef Id="CloudCacheStoreComponent"/>
		</ComponentGroup>
	</Fragment>
</Wix>
