<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="DatabaseExistsDlg" X="50" Y="50" Width="260" Height="85" Title="!(loc.Warning)">
        <Control Id="Return" Type="PushButton" X="102" Y="57" Width="56" Height="17" Text="!(loc.OK)" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" Text="!(loc.DatabaseExists)" TabSkip="yes" />
        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" Text="WixUI_Ico_Exclam" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>