<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
      <UI>
      <Dialog Id="DbConfigDlg" Width="370" Height="270" Title="!(loc.DbConfigurationTitle)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Property="CONNECTIONSTRINGONINIT" Value="Data Source=[SERVERNAME];Initial Catalog=master;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True">AUTHTYPE = 1</Publish>
          <Publish Property="CONNECTIONSTRINGONINIT" Value="Data Source=[SERVERNAME];Initial Catalog=master;Integrated Security=False;User ID=[USERNAME];Password=[PASSWORD];Pooling=False;MultipleActiveResultSets=True">AUTHTYPE = 2</Publish>
          <Publish Property="CONNECTIONSTRING" Value="Data Source=[SERVERNAME];Initial Catalog=[DATABASENAME];Integrated Security=True;Pooling=False;MultipleActiveResultSets=True">AUTHTYPE = 1</Publish>
          <Publish Property="CONNECTIONSTRING" Value="Data Source=[SERVERNAME];Initial Catalog=[DATABASENAME];Integrated Security=False;User ID=[USERNAME];Password=[PASSWORD];Pooling=False;MultipleActiveResultSets=True">AUTHTYPE = 2</Publish>
          <Publish Event="DoAction" Value="ConnectDbAction"><![CDATA[PREVIOUSVERSIONSINSTALLED <> "" OR NOT (&DatabaseFeature=3)]]></Publish>
          <Publish Event="DoAction" Value="ConnectDbOnInitAction"><![CDATA[PREVIOUSVERSIONSINSTALLED = "" AND (&DatabaseFeature=3)]]></Publish>
          <Publish Event="SpawnDialog" Value="InvalidLogonDlg"><![CDATA[CONNECTSUCCESS = "-1" AND NOT Installed]]></Publish>
          <Publish Event="SpawnDialog" Value="DatabaseExistsDlg"><![CDATA[CONNECTSUCCESS = "-2" AND NOT Installed]]></Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.DbConfigurationDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.DbConfigurationTitle)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="AuthLabel" Type="Text" X="20" Y="60" Width="124" Height="17" NoPrefix="yes" Text="!(loc.AuthTypeInput)" />
        <Control Type="RadioButtonGroup" Property="AUTHTYPE" Id="Authentication" Width="120" Height="30" X="160" Y="52">
          <RadioButtonGroup Property="AUTHTYPE">
            <RadioButton Text="Windows Authentication" Height="17" Value="1" Width="120" X="0" Y="0" />
            <RadioButton Text="SQL Authentication" Height="17" Value="2" Width="120" X="0" Y="15" />
          </RadioButtonGroup>
        </Control>
        <Control Id="ServerNameLabel" Type="Text" X="20" Y="100" Width="124" Height="17" NoPrefix="yes" Text="!(loc.InstanceNameInput)" />
        <Control Type="Edit" Id="ServerName" Property="SERVERNAME" Width="120" Height="15" X="160" Y="100" />
        <Control Id="DatabaseNameLabel" Type="Text" X="20" Y="130" Width="124" Height="17" NoPrefix="yes" Text="!(loc.DatabaseNameInput)" />
        <Control Type="Edit" Id="DatabaseName" Property="DATABASENAME" Width="120" Height="15" X="160" Y="130" />
        <Control Id="UsernameLabel" Type="Text" X="20" Y="160" Width="124" Height="17" NoPrefix="yes" Text="!(loc.UsernameInput)">
          <Condition Action="hide"><![CDATA[AUTHTYPE = 1]]></Condition>
          <Condition Action="show"><![CDATA[AUTHTYPE = 2]]></Condition>
        </Control>
        <Control Type="Edit" Id="Username" Property="USERNAME" Width="120" Height="17" X="160" Y="160">
          <Condition Action="hide"><![CDATA[AUTHTYPE = 1]]></Condition>
          <Condition Action="show"><![CDATA[AUTHTYPE = 2]]></Condition>
        </Control>
        <Control Id="PasswordLabel" Type="Text" X="20" Y="190" Width="124" Height="17" NoPrefix="yes" Text="!(loc.PasswordInput)">
          <Condition Action="hide"><![CDATA[AUTHTYPE = 1]]></Condition>
          <Condition Action="show"><![CDATA[AUTHTYPE = 2]]></Condition>
        </Control>
        <Control Type="Edit" Id="Password" Property="PASSWORD" Password="yes" Width="120" Height="17" X="160" Y="190">
          <Condition Action="hide"><![CDATA[AUTHTYPE = 1]]></Condition>
          <Condition Action="show"><![CDATA[AUTHTYPE = 2]]></Condition>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>
