<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    <add key="ShowCloudSettings" value="false"/>
    <add key="ShowOHRSettings" value="false"/>
    <add key="ShowPromoCodeSettings" value="false"/>
    <add key="ShowDPKIDRangeSettings" value="false"/>
    <add key="DefaultOA3ToolConfigPath" value="..\\..\\Config\\OA3Tool-ServerBased.cfg"/>
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
