<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsSavingTestResultsToMESCloud" value="false"/>
    <add key="MESCloudServicePoint" value="http://win-cb091ph1ltf:8919/Services/MESService.svc"/>
    <add key="MESCloudUserName" value="MES"/>
    <add key="MESCloudPassword" value="M(S@OMSG.msft"/>
    <add key="IsAlwaysAutoRunning" value="true"/>
    <add key="IsShowingPopupAfterAllTestsDone" value="false"/>
    <add key="IsCallingExternalApp" value="true"/>
    <add key="IsClosingMainApp" value="true"/>
    <add key="ExternalAppStartFlag" value="1"/>
    <add key="ExternalApp" value="PowerShell"/>
    <add key="ExternalAppParams" value="-ExecutionPolicy ByPass -NoExit -File OA3\Scripts\run-server-based-sn-bios-1.ps1 -Architecture x86"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="MESCloudTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default"/>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messages-mes-cloud-trace.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>