

<br/>
<br/>

<div>
    <input type="text" onkeyup="value=value.replace(/[\W]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" />
    <br/>
    <input type="text" onkeyup="value = value.replace(/[^a-zA-Z0-9_\-\.]/g, '')" onmouseout="value = value.replace(/[^a-zA-Z0-9_\-\.]/g, '')" onbeforepaste="clipboardData.setData('text', clipboardData.getData('text').replace(/[^a-zA-Z0-9_\-\.]/g, ''))" />
    <br />
    <input type="password"  />
</div>

