<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="UrlInstallImages" value="file://{0}\Views\InstallImages.html"/>
  <add key="UrlBootImages" value="file://{0}\Views\BootImages.html"/>
  <add key="UrlImageGroups" value="file://{0}\Views\ImageGroups.html"/>
  <add key="UrlImageFiles" value="file://{0}\Views\ImageFiles.html"/>
  <add key="UrlImageLookups" value="file://{0}\Views\ImageLookups.html"/>
  <add key="UrlClientPulse" value="file://{0}\Views\ClientPulse.html"/>
  <add key="UrlConfigurations" value="file://{0}\Views\Configurations.html"/>
  <add key="UrlLogHistory" value="file://{0}\Views\LogHistory.html"/>
  <!--<add key="ShouldWait" value="false"/>
  <add key="ShouldCreateNewWindow" value="true"/>
  <add key="ShouldShellExecute" value="true"/>
  <add key="ShouldRedirectOutput" value="false"/>
  -->
  <add key="LogPath" value="Logs"/>
  <add key="ArgumentTemplate" value="-ExecutionPolicy ByPass -NoExit -File &quot;{0}&quot;"/>
  <!--<add key="ArgumentTemplate" value="-ExecutionPolicy ByPass -File &quot;{0}&quot;"/>-->
</appSettings>
</configuration>