<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="BasicHttpBinding_IDISConfigurationCloud">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IDISConfigurationCloud">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5579/Services/DISConfigurationCloud.svc"
                binding="wsHttpBinding" bindingConfiguration="BasicHttpBinding_IDISConfigurationCloud"
                contract="DISConfigurationCloudServiceReference.IDISConfigurationCloud"
                name="BasicHttpBinding_IDISConfigurationCloud" />
            <endpoint address="https://localhost:44300/Services/DISConfigurationCloud.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDISConfigurationCloud"
                contract="DISConfigurationCloudServiceReference.IDISConfigurationCloud"
                name="WSHttpBinding_IDISConfigurationCloud" behaviorConfiguration="ClientCertificate" />
        </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientCertificate">
            <clientCredentials>
              <serviceCertificate>
                <defaultCertificate findValue="‎‎CN=MTCkiOemService" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName"/>
                <authentication certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="LocalMachine" revocationMode="NoCheck"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>