<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="VamtStartScriptPath" value="Script\run.ps1"/>
    <add key="VamtPrepareScriptPath" value="Script\prepare.ps1"/>
    <add key="VamtCleanupScriptPath" value="Script\cleanup.ps1"/>
    <add key="VamtConfGenPath" value="Module\VamtConfGen\VamtAPIConfigurator.exe" />
    <add key="VamtConfPath" value="Config\config.xml" />
  </appSettings>
</configuration>