<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ShouldWait" value="false"/>
    <add key="ShouldCreateNewWindow" value="true"/>
    <add key="ShouldShellExecute" value="false"/>
    <add key="ShouldRedirectOutput" value="true"/>
    <add key="LogPath" value="Log"/>
    <!--<add key="ArgumentTemplate" value="-ExecutionPolicy ByPass -NoExit -File &quot;{0}&quot;"/>-->
    <add key="ArgumentTemplate" value="-ExecutionPolicy ByPass -File &quot;{0}&quot;"/>
  </appSettings>
</configuration>