<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\ADK;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="DatabaseCreationScriptPath" value="~/Scripts"/>
    <add key="IsCustomizingDatabaseStorage" value="false"/>
    <add key="DatabasePhysicalFileLocation" value="E:\DIS2.0\DataTest\"/>
    <add key="DatabaseBackupLocation" value="E:\DIS2.0\DataTest\"/>
    <add key="SQLCMDOuputLogFilePath" value="E:\DIS2.0\DataTest\SQLCDM.out.log"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbserver-01;initial catalog=DISConfigurationCloud;persist security info=True;user id=DIS;password=D!S@OMSG.msft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--add name="ApplicationServices"
         connectionString="data source=10.168.30.71;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
      <add name="ApplicationServices"
         connectionString="Integrated Security=false;data source=dbserver-01;initial catalog=aspnetdb;user id=DIS;password=D!S@OMSG.msft;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.web>
    <globalization requestEncoding="utf-8"
            responseEncoding="utf-8"
            fileEncoding=""
            culture="auto"
            uiCulture="auto"
            enableClientBasedCulture="true"
            responseHeaderEncoding="utf-8"/>
    
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880">
      </forms>
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="DISConfigurationCloud" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="DISConfigurationCloud"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="DISConfigurationCloud" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="DISConfigurationCloud" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
    <!--<security>
      <access sslFlags="SslRequireCert"/>
    </security>-->
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <!--<wsHttpBinding>
        <binding name="DISConfigurationCloudBinding-Client" >
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>-->
    <webHttpBinding>
      <binding name="DISConfigurationCloudBinding">
        <!--<security mode="Transport">
          <transport clientCredentialType="Certificate"/>
        </security>-->
      </binding>
    </webHttpBinding>
    </bindings>
    <services>
      <service name="DISConfigurationCloud.Services.DISConfigurationCloud" behaviorConfiguration="DISConfigurationCloudBehavior">
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="DISConfigurationCloudBinding" contract="DISConfigurationCloud.Services.IDISConfigurationCloud"/>-->
      <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RestBehavior" bindingConfiguration="DISConfigurationCloudBinding" contract="DISConfigurationCloud.Services.IDISConfigurationCloud"/>
      </service>
    </services>
    <behaviors>
    <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DISConfigurationCloudBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="DISConfigurationCloud.Authentication.BasicServiceAuthenticationValidator, DISConfigurationCloud"/>
            <serviceCertificate findValue="CN=MTCkiOemService" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName"/>
          </serviceCredentials>-->
          <serviceAuthorization serviceAuthorizationManagerType="DISConfigurationCloud.Authorization.ExtendedServiceAuthorizationManager,DISConfigurationCloud.Security"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="DISConfigurationCloudTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default"/>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messages-dis-cloud-trace.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
