<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="Parameters" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TestParameters" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TestRuntime" type="System.Configuration.NameValueSectionHandler"/>
    <section name="OemOptionalInfoes" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <clear />
  </appSettings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="System">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="Enterprise Library Logging" formatter="Text Formatter"
        log="" machineName="." traceOutputOptions="None" />
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        databaseInstanceName="EmulatorContext" writeLogStoredProcName="WriteLog"
        addCategoryStoredProcName="AddCategory" formatter="Text Formatter"
        traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp} UTC{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Priority: {priority}{newline}&#xD;&#xA;EventId: {eventid}{newline}&#xD;&#xA;Severity: {severity}{newline}&#xD;&#xA;Title:{title}{newline}&#xD;&#xA;Machine: {localMachine}{newline}&#xD;&#xA;App Domain: {localAppDomain}{newline}&#xD;&#xA;ProcessId: {localProcessId}{newline}&#xD;&#xA;Process Name: {localProcessName}{newline}&#xD;&#xA;Thread Name: {threadName}{newline}&#xD;&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Operation">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="Event Log Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="System">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ExceptionPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                logCategory="System" eventId="100" severity="Error" title="DataPolling Exception"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="EmulatorContext" />
  <connectionStrings>
    <add name="KeyStoreContext" connectionString="Data Source=.;Initial Catalog=FFKIStore;Integrated Security=true;User ID=sa;Password=User@123" providerName="System.Data.SqlClient" />
    <add name="EmulatorContext" connectionString="Data Source=.;Initial Catalog=EmulatorStore;Integrated Security=true;User ID=sa;Password=User@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <Parameters>
    <add key="LicensablePartNumber" value="DIS.Business.Proxy.KeyProvider.Parameters.LicensablePartNumberParameter"/>
    <add key="OEMPartNumber" value="DIS.Business.Proxy.KeyProvider.Parameters.OEMPartNumberParameter"/>
    <add key="OEMPONumber" value="DIS.Business.Proxy.KeyProvider.Parameters.OEMPONumberParameter"/>
  </Parameters>
  <TestParameters>
    <add key="LicensablePartNumber" value="G0A-00017"/>
    <add key="OEMPartNumber" value="3TC-00172"/>
    <add key="OEMPONumber" value="OEMPONO1"/>
  </TestParameters>
  <TestRuntime>
    <add key="IsAutoGenerateAssembleKey" value="false"/>
    <add key="IsAutoGenerateReportKey" value="false"/>
    <add key="DefaultInterval" value="300000"/>
    <add key="DefaultGenerateAssembleKeysInterval" value="600000"/>
  </TestRuntime>
  <OemOptionalInfoes>
    <add key="ZPcModelSku" value="adlifue90j3cliu093"/>
    <add key="ZOemExtId" value="ABCZZ123"/>
    <add key="ZManufGeoLoc" value="BING8"/>
    <add key="ZPgmEligValues" value="2557612"/>
    <add key="ZChannelRelId" value="Germany"/>
    <add key="TrackingInfo" value="123456"/>
    <add key="zFrmFactorCl1" value="Desktop"/>
    <add key="zFrmFactorCl2" value="Standard"/>
    <add key="zScreenSize" value="17"/>
    <add key="zTouchScreen" value="Touch"/>
  </OemOptionalInfoes>
</configuration>
