<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="Parameters" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <!--<add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="KeyStoreContext" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />-->
      <add name="DIS Trace Listener" type="DIS.Common.Utility.DISTraceListener, DIS.Common.Utility" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Priority: {priority}{newline}&#xD;&#xA;EventId: {eventid}{newline}&#xD;&#xA;Severity: {severity}{newline}&#xD;&#xA;Title: {title}{newline}&#xD;&#xA;Machine: {localMachine}{newline}&#xD;&#xA;App Domain: {localAppDomain}{newline}&#xD;&#xA;ProcessId: {localProcessId}{newline}&#xD;&#xA;Process Name: {localProcessName}{newline}&#xD;&#xA;Thread Name: {threadName}{newline}&#xD;&#xA;Win32 ThreadId: {win32ThreadId}{newline}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="System">
        <listeners>
          <add name="DIS Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Warning" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ExceptionPolicy">
        <!--<exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="System" eventId="100" severity="Error" title="Key Provider Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>-->
        <exceptionTypes>
          <add name="All Exceptions" type="DIS.Common.Utility.DISLoggableException, DIS.Common.Utility" postHandlingAction="None">
            <exceptionHandlers>
              <add name="DIS Loggable Exception Handler" type="DIS.Common.Utility.DISLoggableExceptionHandler, DIS.Common.Utility" logCategory="System" eventId="100" severity="Error" title="Key Provider Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <configProtectedData>
    <providers>
      <add name="X509ProtectedConfigProvider" type="DIS.Common.Utility.X509ProtectedConfigProvider, DIS.Common.Utility, Version=1.0.0.0, Culture=neutral" CertSubjectThumbPrint="6C849AB1CECAFE6AB81280CFA0B6AE229917F9BF" />
    </providers>
  </configProtectedData>
  <dataConfiguration defaultDatabase="KeyStoreContext" />
  <connectionStrings>
    <add name="KeyStoreContext" connectionString="Data Source=.;Initial Catalog=TpiKeyStore;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceNameSuffix" value="TPICorp" />
    <add key="InstallType" value="FactoryFloor" />
    <add key="ServiceClass" value="KeyProviderListener" />
    <add key="NetworkAddress" value="localhost" />
    <add key="ProtocolSequence" value="ncacn_ip_tcp" />
    <add key="Endpoint" value="8765" />
    <add key="PingTestParameters" value="&lt;Parameters&gt;&lt;Parameter name=&quot;OEMPartNumber&quot; value=&quot;228-08465&quot; /&gt;&lt;/Parameters&gt;" />
    <add key="IsConfigurationCloudClientTracingEnabled" value="true" />
    <add key="ConfigurationCloudClientTraceSourceName" value="DISConfigurationCloudClientTraceSource" />
    <add key="ConfigurationCloudServerAddress" value="http://10.168.30.33:8818"/>
    <add key="ConfigurationCloudServicePoint" value="/Services/DISConfigurationCloud.svc" />
    <add key="ConfigurationCloudAuthHeader" value="DIS:D!S@OMSG.msft" />
    <add key="CloudConfigCacheStore" value="E:\DIS2.0\SourceCode\DIS2.0\DISNinja\src\Services\KeyProvider\KeyProviderService\bin\Release\Cloud-Configs.xml"/>
    <add key="CloudConfigCachePolicy" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <Parameters>
    <add key="LicensablePartNumber" value="DIS.Business.Proxy.KeyProvider.Parameters.LicensablePartNumberParameter" />
    <add key="OEMPartNumber" value="DIS.Business.Proxy.KeyProvider.Parameters.OEMPartNumberParameter" />
    <add key="OEMPONumber" value="DIS.Business.Proxy.KeyProvider.Parameters.OEMPONumberParameter" />
    <add key="SerialNumber" value="DIS.Business.Proxy.KeyProvider.Parameters.SerialNumberParameter" />
  </Parameters>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="DISConfigurationCloudClientTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default" />
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="dis-cloud-client-trace.svclog" />
        </listeners>
      </source>
      <source name="DISKeyProviderServiceTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default" />
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="dis-kps-trace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>