<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OA3StartScriptPath" value="Scripts\run-server.ps1"/>
    <add key="OA3ValidateScriptPath" value="Scripts\validate.ps1"/>
    <add key="OA3ToolConfGenPath" value="OA3ToolConfGen\OA3ToolConfGen.exe" />
    <add key="OA3ToolConfPathAmd64" value="OA3Tool\amd64\OA3Tool-ServerBased.cfg" />
    <add key="OA3ToolConfPathX86" value="OA3Tool\x86\OA3Tool-ServerBased.cfg" />
    <add key="OA3ToolPathAmd64" value="OA3Tool\amd64\OA3Tool.exe" />
    <add key="OA3ToolPathX86" value="OA3Tool\x86\OA3Tool.exe" />
    <add key="InjectionToolPath" value="InjectionTools\Flash_afuwin\afuwin.exe" />
    <add key="InjectionToolEraseCommand" value="/OAD" />
  </appSettings>
</configuration>