<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OA3.Automation.KMT.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectKMT" connectionString="Data Source=.;Initial Catalog=FactoryFloorKeyStore;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="productKey" value=""/>
    <add key="assginNum" value="1"/>

    <add key="OEM_MainTitle" value="Key Management Tool - Corporate Key Inventory" />
    <add key="TPI_MainTitle" value="Key Management Tool - Factory Key Inventory" />
    <add key="FF_MainTitle" value="Key Management Tool - Factory Floor Key Inventory" />

    <add key="OEM_path" value="C:\Program Files (x86)\DIS Solution\OEM\Key Management Tool\DIS.Presentation.KMT.exe" />
    <add key="TPI_path" value="C:\Program Files (x86)\DIS Solution\TPI\Key Management Tool\DIS.Presentation.KMT.exe" />
    <add key="FF_path" value="C:\Program Files (x86)\DIS Solution\Factory Floor\Key Management Tool\DIS.Presentation.KMT.exe" />
  </appSettings>
</configuration>