<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="DATAPOLLING" Name="Data Polling Service">
        <Component Id="DataPollingModifyConfig" Guid="{4A1539E4-872E-4559-93F5-5DADE1F502ED}">
          <File Id="DataPolling_ConfigFile456" Name="DIS.Services.DataPolling.exe.config" Source="$(var.DataPolling.TargetDir)DIS.Services.DataPolling.exe.config"/>
          <util:XmlFile Id="DataPolling_InstallTypeStr"  Action="setValue" Permanent="yes" File="[DATAPOLLING]\DIS.Services.DataPolling.exe.config"  ElementPath="/configuration/appSettings/add[\[]@key='InstallType'[\]]" Name="value"  Value="[INSTALLTYPEVALUE]"   Sequence="6"  />
          <util:XmlFile Id="DataPolling_ConfigurationCloudServicePoint"  Action="setValue" Permanent="yes" File="[DATAPOLLING]\DIS.Services.DataPolling.exe.config"  ElementPath="/configuration/appSettings/add[\[]@key='ConfigurationCloudServerAddress'[\]]" Name="value"  Value="[CONFIGURATION_CLOUD_SERVER_ADDRESS]"   Sequence="2"  />
          <util:XmlFile Id="DataPolling_ConfigurationCloudAuthHeader"  Action="setValue" Permanent="yes" File="[DATAPOLLING]\DIS.Services.DataPolling.exe.config"  ElementPath="/configuration/appSettings/add[\[]@key='ConfigurationCloudAuthHeader'[\]]" Name="value"  Value="[CONFIGURATION_CLOUD_USERNAME]:[CONFIGURATION_CLOUD_PASSWORD]"   Sequence="3"  />
          <util:XmlFile Id="DataPolling_CloudConfigCachePolicy"  Action="setValue" Permanent="yes" File="[DATAPOLLING]\DIS.Services.DataPolling.exe.config"  ElementPath="/configuration/appSettings/add[\[]@key='CloudConfigCachePolicy'[\]]" Name="value"  Value="[CLOUD_CONFIG_CACHE_POLICY]"   Sequence="4"  />
          <util:XmlFile Id="DataPolling_CloudConfigCacheStore"  Action="setValue" Permanent="yes" File="[DATAPOLLING]\DIS.Services.DataPolling.exe.config"  ElementPath="/configuration/appSettings/add[\[]@key='CloudConfigCacheStore'[\]]" Name="value"  Value="[INSTALLLOCATION][CLOUD_CONFIG_CACHE_STORE]"   Sequence="5"  />
        </Component>
        <Component Id="DataPollingComponent" Guid="{6CA6B788-ECB2-4220-BA02-1D964B3C42D7}">
          <File Id="DataPolling.Client465" Source="$(var.DataPolling.TargetDir)DIS.Business.Client.dll"/>
          <File Id="DataPolling.Library888" Source="$(var.DataPolling.TargetDir)DIS.Business.Library.dll"/>
          <File Id="DataPolling.Utility44444" Source="$(var.DataPolling.TargetDir)DIS.Common.Utility.dll"/>
          <File Id="DataPolling.Proxy222" Source="$(var.DataPolling.TargetDir)DIS.Business.Proxy.dll"/>
          <File Id="DataPolling.DataAccess8999" Source="$(var.DataPolling.TargetDir)DIS.Data.DataAccess.dll"/>
          <File Id="DataPolling.DataContract89"  Source="$(var.DataPolling.TargetDir)DIS.Data.DataContract.dll"/>
          <File Id="DataPolling.ServiceContract90"  Source="$(var.DataPolling.TargetDir)DIS.Data.ServiceContract.dll"/>
          <File Id="InstallerFile232" Source="$(var.DataPolling.TargetDir)DIS.Services.DataPolling.exe" KeyPath="yes"/>
          <File Id="DataPolling.Http899" Source="$(var.DataPolling.TargetDir)Microsoft.Http.dll"/>
          <File Id="DataPolling.Common78"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.EnterpriseLibrary.Common.dll"/>
          <File Id="DataPolling.Data15"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.EnterpriseLibrary.Data.dll"/>
          <File Id="DataPolling.ExceptionHandling963"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll"/>
          <File Id="DataPolling.ExceptionHandlingLo"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll"/>
          <File Id="DataPolling.Logging89"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.dll"/>
          <File Id="DataPolling.LoggingDatab78"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.Database.dll"/>
          <File Id="DataPolling.ServiceLocat23"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.ServiceLocation.dll"/>
          <File Id="DataPolling.Unity8996"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.Unity.dll"/>
          <File Id="DataPolling.UnityInterc4"  Source="$(var.DataPolling.TargetDir)Microsoft.Practices.Unity.Interception.dll"/>
          <File Id="DataPolling.Web556899"  Source="$(var.DataPolling.TargetDir)Microsoft.ServiceModel.Web.dll"/>
          <File Id="DataPolling.EntityFramework888" Name="EntityFramework.dll" Source="..\Resources\EntityFramework.dll"/>
          <File Id="DataPolling.DISConfiguationCloudClient" Name="DISConfigurationCloud.Client.dll" Source="$(var.DataPolling.TargetDir)DISConfigurationCloud.Client.dll"/>
          <File Id="DataPolling.DISConfiguationCloudResourceIntegrator" Name="DISConfigurationCloud.ResourceIntegrator.dll" Source="$(var.DataPolling.TargetDir)DISConfigurationCloud.ResourceIntegrator.dll"/>
          <!--<File Id="DataPolling.CloudConfigsXml" Name="Cloud-Configs.xml" Source="$(var.DataPolling.TargetDir)Cloud-Configs.xml"/>-->
          <RemoveFile Id="PurgeFiles" Name="*.*" On="uninstall"/>
          <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Vital="yes"
              Name="DataPollingService - TPICorp"
              DisplayName="DataPollingService - TPICorp"
              Description="Synchronizes Order Fulfillment"
              Start="auto"
              Account="NT AUTHORITY\LocalService"
              ErrorControl="ignore"
              Interactive="no">
          </ServiceInstall>
          <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="DataPollingService - TPICorp" Wait="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
    <Component Id="DatePollingCertificate" Guid="{48E4B660-7BEE-4424-88DA-AF2D4ACDB298}" Directory="TARGETDIR">
      <iis:Certificate Id="DisDatePollingRootCert" Name="DisDatePollingRootCert" StoreName="root" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CABinary"/>
      <iis:Certificate Id="DisDatePollingCrlCert" Name="DisDatePollingCrlCert" StoreName="root" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CrlBinary"/>
      <iis:Certificate Id="DisDatePollingCFGCert" Name="DisDatePollingRootCert" StoreName="my" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CFGBinary" PFXPassword="123"/>
    </Component>
  </Fragment>
</Wix>