<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Property Id="INSTALLTYPE" Value="2"></Property>
    <Property Id="INSTALLTYPEVALUE" Value="Tpi"></Property>

    <Property Id="INPORT" Value="8012" >
      <RegistrySearch Id='InPortProperty' Root='HKCU'
                Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                Name='InPort' Type='raw' />
    </Property>

    <Property Id="EXPORT" Value="8011" >
      <RegistrySearch Id='ExPortProperty' Root='HKCU'
          Key='SOFTWARE\Microsoft\DIS Solution\TPI'
          Name='ExPort' Type='raw' />
    </Property>


    <Property Id="AUTHTYPE" Value="1">
      <RegistrySearch Id='AuthTypeProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                      Name='AuthType' Type='raw' />
    </Property>
    <Property Id="SERVERNAME" Value="(local)">
      <RegistrySearch Id='ServerNameProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                      Name='ServerName' Type='raw' />
    </Property>
    <Property Id="DATABASENAME" Value="TpiKeyStore" >
      <RegistrySearch Id='DatabaseNameProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                      Name='DatabaseName' Type='raw' />
    </Property>

    <Property Id="PASSWORD" >
      <RegistrySearch Id='SqlPasswordProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                      Name='SqlPassword' Type='raw' />
    </Property>

    <Property Id="USERNAME" Value="sa">
      <RegistrySearch Id='SqlUserNameProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                      Name='SqlUserName' Type='raw' />
    </Property>

    <Property Id="CONNECTIONSTRING" Value="Data Source=(local);Initial Catalog=master;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True">
      <RegistrySearch Id='ConnectionStringProperty' Root='HKCU'
                Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                Name='ConnectionString' Type='raw' />
    </Property>

    <!--<Property Id="WEB_APP_POOL_IDENTITY_NAME" Value="$(env.USERDOMAIN)\$(env.USERNAME)">
      <RegistrySearch Id='IndentityNameProperty' Root='HKCU'
          Key='SOFTWARE\Microsoft\DIS Solution\TPI'
          Name='IndentityName' Type='raw' />
    </Property>

    <Property Id="WEB_APP_POOL_IDENTITY_PWD">
      <RegistrySearch Id='IndentityPasswordProperty' Root='HKCU'
        Key='SOFTWARE\Microsoft\DIS Solution\TPI'
        Name='IndentityPassword' Type='raw' />
    </Property>-->

    <Property Id="WEB_APP_POOL_IDENTITY_NAME" Value=".\DIS">
      <RegistrySearch Id='IndentityNameProperty' Root='HKCU'
          Key='SOFTWARE\Microsoft\DIS Solution\TPI'
          Name='IndentityName' Type='raw' />
    </Property>

    <Property Id="WEB_APP_POOL_IDENTITY_PWD" Value="D!S@OMSG.msft">
      <RegistrySearch Id='IndentityPasswordProperty' Root='HKCU'
        Key='SOFTWARE\Microsoft\DIS Solution\TPI'
        Name='IndentityPassword' Type='raw' />
    </Property>

    <Property Id="INSTALLLOCATION">
      <RegistrySearch Id='InstallLocationProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\TPI'
                      Name='InstallLocation' Type='raw' />
    </Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <WixVariable Id="WixUILicenseRtf" Value="..\Resources\License.rtf" />
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <PropertyRef Id="NETFRAMEWORK40FULL_SERVICING_LEVEL"/>
    <Property Id="WIX_DOWNGRADE_DETECTED" Secure="yes" />
    <Property Id="WIX_UPGRADE_DETECTED" Secure="yes" />
    <Property Id="SQLEXPRESSINSTALLED">
      <RegistrySearch Id="SqlExpressServiceInstalled" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\SQLEXPRESS\MSSQLServer\CurrentVersion" Name="CurrentVersion" Type="raw" />
    </Property>
    <Property Id="SQLINSTALLED">
      <RegistrySearch Id="SqlServiceInstalled" Root="HKLM" Key="SOFTWARE\Microsoft\MSSQLServer\MSSQLServer\CurrentVersion" Name="CurrentVersion" Type="raw" />
    </Property>
    <Property Id="INSTALLATIONMODE" Value="0"></Property>
    <Property Id="CONFIGURATION_CLOUD_SERVER_ADDRESS" Value="http://localhost:8818"></Property>
    <Property Id="CONFIGURATION_CLOUD_SERVICE_POINT" Value="/Services/DISConfigurationCloud.svc"></Property>
    <Property Id="CONFIGURATION_CLOUD_USERNAME" Value="DIS"></Property>
    <Property Id="CONFIGURATION_CLOUD_PASSWORD" Value="D!S@OMSG.msft"></Property>
    <Property Id="CONFIGURATION_CLOUD_AUTHHEADER">DIS:D!S@OMSG.msft</Property>
    <Property Id="CLOUD_CONFIG_CACHE_STORE" Value="Cloud-Configs.xml"></Property>
    <Property Id="CLOUD_CONFIG_CACHE_POLICY" Value="0"></Property>
  </Fragment>
</Wix>