<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="ScriptPath" value="Script\offline.cmd"/>-->
    <add key="ScriptPath" value="Script\validate-online.ps1" />
    <add key="ScriptArgs" value="" />
    <!--<add key="ExePath" value="cmd.exe"/>-->
    <add key="ExePath" value="PowerShell" />
    <add key="RequireTransactionID" value="true" />
    <add key="RequireAppRootPath" value="true" />
    <add key="ShouldUseShortPath" value="false" />
    <add key="ShouldExitOnComplete" value="true" />
    <add key="ShouldShellExecute" value="false" />
    <add key="ShouldCreateNewWindow" value="true" />
    <!--<add key="ArgumentTemplate" value="/c &quot;{0}&quot;"/>-->
    <!--<add key="ArgumentTemplate" value="/k &quot;{0}&quot;"/>-->
    <add key="ArgumentTemplate" value="-ExecutionPolicy ByPass -NoExit -File &quot;{0}&quot; -TransactionID {1}" />
    <add key="LogFilePathTemplate" value="\Log\{0}.log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>