<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DISInstallationScriptPath" value="DIS\installation\install.ps1" />
    <add key="DISPreparationScriptPath" value="DIS\preparation\run.ps1" />
    <add key="DISDBPreparationScriptPath" value="DIS\preparation\db\run.ps1" />
    <add key="DISCertImportScriptPath" value="Tools\import-dis-certs.ps1" />
    <add key="SQLServiceRestartScriptPath" value="Tools\restart-sql-service.ps1" />
    <add key="MESInstallationScriptPath" value="MES\installation\install.ps1" />
    <add key="MESPreparationScriptPath" value="MES\preparation\run.ps1" />
    <add key="MESDBPreparationScriptPath" value="MES\preparation\db\run.ps1" />
    <add key="DISDeploymentScriptPath" value="DIS\deploy.ps1" />
    <add key="MESDeploymentScriptPath" value="MES\deploy.ps1" />
    <add key="SFTPath" value="SFT" />
    <add key="SFTExeName" value="SFTClassic.exe" />
    <add key="SNInjectionToolPath" value="SNBurner" />
    <add key="SNInjectionEnabled" value="false" />
    <add key="OA3ToolConfGenPath" value="OA3\OA3ToolConfGen\OA3ToolConfGen.exe" />
    <add key="OA3ToolConfPathAmd64" value="OA3\OA3Tool9600\amd64\OA3Tool-ServerBased.cfg" />
    <add key="OA3ToolConfPathx86" value="OA3\OA3Tool9600\x86\OA3Tool-ServerBased.cfg" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>