<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <appSettings>
      <add key="InstallType" value="Tpi"/>
        <add key="interval" value="60000"/>
        <add key="searchInterval" value="900000"/>
        <add key="IsConfigurationCloudClientTracingEnabled" value="true" />
        <add key="ConfigurationCloudClientTraceSourceName" value="DISConfigurationCloudClientTraceSource" />
        <add key="ConfigurationCloudServerAddress" value="http://10.168.30.55:8818" />
        <add key="ConfigurationCloudServicePoint" value="/Services/DISConfigurationCloud.svc" />
        <add key="ConfigurationCloudAuthHeader" value="DIS:D!S@OMSG.msft" />
        <add key="CloudConfigCacheStore" value="Cloud-Configs.xml"/>
        <add key="CloudConfigCachePolicy" value="1"/>
        <add key="ByPassSSLServerCertificateValidation" value="true"/>
        <add key="IgnoredCustomers" value="12a60e22-2960-4ac8-a3e3-dee806d6b990,7ae6a50b-9832-42ce-a08c-8e9636de191e,62af2803-0545-4252-bbf1-b43c0bf207fc,916d6e41-a1be-4c44-a2c7-da5aa30c062e,960d2fe4-bf03-4175-861a-822b544bd672,bcd4e155-095d-4369-8679-34431487e5b0,c5e82822-48a5-460b-82ce-277afe6c526c,325ea355-4e44-402c-b81b-284830c5b606,2faa5efe-248a-43a4-9a26-f3fe7801c6ab"/>
    </appSettings>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="System">
        <listeners>
            <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              source="Enterprise Library Logging" formatter="Text Formatter"
              log="" machineName="." traceOutputOptions="None" />
            <!--<add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              databaseInstanceName="KeyStoreContext" writeLogStoredProcName="WriteLog"
              addCategoryStoredProcName="AddCategory" formatter="Text Formatter"
              traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />-->
          <add name="DIS Trace Listener" type="DIS.Common.Utility.DISTraceListener, DIS.Common.Utility" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              template="Timestamp: {timestamp} UTC{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Priority: {priority}{newline}&#xD;&#xA;EventId: {eventid}{newline}&#xD;&#xA;Severity: {severity}{newline}&#xD;&#xA;Title: {title}{newline}&#xD;&#xA;Machine: {localMachine}{newline}&#xD;&#xA;App Domain: {localAppDomain}{newline}&#xD;&#xA;ProcessId: {localProcessId}{newline}&#xD;&#xA;Process Name: {localProcessName}{newline}&#xD;&#xA;Thread Name: {threadName}{newline}&#xD;&#xA;Win32 ThreadId: {win32ThreadId}{newline}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
              name="Text Formatter" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="Operation">
                <listeners>
                    <add name="DIS Trace Listener" />
                    <add name="Event Log Listener" />
                </listeners>
            </add>
            <add switchValue="All" name="System">
                <listeners>
                    <add name="DIS Trace Listener" />
                    <add name="Event Log Listener" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Event Log Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <exceptionHandling>
        <exceptionPolicies>
            <add name="ExceptionPolicy">
                <exceptionTypes>
                    <!--<add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      postHandlingAction="None">
                        <exceptionHandlers>
                            <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                              logCategory="System" eventId="100" severity="Error" title="DataPolling Exception"
                              formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                              priority="0" />
                        </exceptionHandlers>
                    </add>-->
                  <add name="All Exceptions" type="DIS.Common.Utility.DISLoggableException, DIS.Common.Utility" postHandlingAction="None">
                    <exceptionHandlers>
                      <add name="DIS Loggable Exception Handler" type="DIS.Common.Utility.DISLoggableExceptionHandler, DIS.Common.Utility" logCategory="System" eventId="100" severity="Error" title="DataPolling Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
                    </exceptionHandlers>
                  </add>
                </exceptionTypes>
            </add>
        </exceptionPolicies>
    </exceptionHandling>
  <configProtectedData>
    <providers>
      <add name="X509ProtectedConfigProvider"
           type="DIS.Common.Utility.X509ProtectedConfigProvider, DIS.Common.Utility, Version=1.0.0.0, Culture=neutral"
           CertSubjectThumbPrint="6C849AB1CECAFE6AB81280CFA0B6AE229917F9BF"/>
    </providers>
  </configProtectedData>
    <dataConfiguration defaultDatabase="KeyStoreContext" />
    <connectionStrings>
        <add name="KeyStoreContext" connectionString="Data Source=.;Initial Catalog=TpiKeyStore;Integrated Security=true;User ID=sa;Password=User@123" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="DISConfigurationCloudClientTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default" />
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="dis-cloud-client-trace.svclog" />
        </listeners>
      </source>
      <source name="DataPollingServiceTraceSource" switchValue="Critical, Error, Warning, Information, Verbose, ActivityTracing">
        <listeners>
          <remove name="Default" />
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="data-polling-service-trace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
