<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ScriptPath" value="Script\offline.cmd"/>
    <add key="ScriptArgs" value=""/>
    <add key="ExePath" value="cmd.exe"/>
    <!--<add key="ExePath" value="PowerShell"/>-->
    <add key="RequireTransactionID" value="true"/>
    <add key="ArgumentTemplate" value="/k &quot;{0}&quot;"/>
    <!--<add key="ArgumentTemplate" value="-ExecutionPolicy ByPass -NoExit -File &quot;{0}&quot;"/>-->
  </appSettings>
</configuration>