<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
  
	<Fragment>
    <util:User Id='SQLUser' Name='[DB_Server_Login_Name]' Password='[DB_Server_Password]' />
    
    <Binary Id='CreateCloudDataTable' SourceFile='Resources\DataModel.edmx.sql' />
    <Binary Id='AspNetMembershipCreateUser' SourceFile='Resources\ExecSPAspNetMembershipCreateUser.sql'/>
    <Binary Id='CreateAspNetMembershipBinary' SourceFile='C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regsql.exe'/>
    <Binary Id='ConnectDbBinary' SourceFile='$(var.DbConnectionTest.TargetDir)DIS.Deployment.Custom.DbConnectionTest.CA.dll' />
    
    <CustomAction Id='ConnectDbAction' BinaryKey='ConnectDbBinary' DllEntry='ConnectCloudDatabase' />
    <CustomAction Id='ConnectDbOnInitAction' BinaryKey='ConnectDbBinary' DllEntry='ConnectDatabaseOnInit' />
    <CustomAction Id='CreateAspNetMembershipAction' BinaryKey='CreateAspNetMembershipBinary' ExeCommand='-S [DB_SERVER_ADDRESS] -U [DB_SERVER_LOGIN_NAME] -P [DB_SERVER_PASSWORD] -A all'/>

    <Component Id='CreateCloudDataDB' Guid='{598AB085-3FA9-4AAA-88AC-98DBCB01A33C}' Directory='INSTALLLOCATION'>
      <sql:SqlDatabase Id='SqlDatabaseSQLAuth' User='SQLUser' Database='[DB_NAME]' Server='[DB_SERVER_ADDRESS]' CreateOnInstall='yes' DropOnUninstall='no' ContinueOnError='no' ConfirmOverwrite='no'>
        <sql:SqlScript Id='CreateTableSQLAuth' BinaryKey='CreateCloudDataTable' ExecuteOnInstall='yes' Sequence="1"/>
      </sql:SqlDatabase>
      <CreateFolder/>
    </Component>

    <Component Id="CreateAspNetMembershipDB" Guid="{17B11EDC-101C-4BF8-AD8D-9B391E98995A}" Directory='INSTALLLOCATION'>
      <!--<utilPlus:StartProcess Id='StartProcessRegAspNet' ApplicationPath='C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regsql.exe' Arguments='-S [DB_Server_Address] -U [DB_Server_Login_Name] -P [DB_Server_Password] -A all'/>-->
      <sql:SqlDatabase Id='AspNetMembershipDatabaseSQLAuth' User='SQLUser' Database='aspnetdb' Server='[DB_SERVER_ADDRESS]' CreateOnInstall='no' DropOnInstall='yes' DropOnUninstall='no' ContinueOnError='no' ConfirmOverwrite='no'>
        <sql:SqlScript Id='SqlScriptAspNetMembershipCreateUser' BinaryKey='AspNetMembershipCreateUser' ExecuteOnInstall='yes' Sequence='1'/>
      </sql:SqlDatabase>
      <CreateFolder/>
    </Component>

    <ComponentGroup Id='DISConfigurationCloudDatabaseComponents'>
      <ComponentRef Id='CreateCloudDataDB'/>
      <ComponentRef Id='CreateAspNetMembershipDB'/>
    </ComponentGroup>
    
	</Fragment>
</Wix>