<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DIS" Name="DIS Solution">
          <Component Id="CreateRootDir" Guid="{62c4685b-afcd-34f7-b756-fa799bcf5fa8}" >
            <CreateFolder Directory="DIS">
              <Permission User="Everyone" GenericAll="yes" />
            </CreateFolder>
          </Component>
          <Directory Id="INSTALLLOCATION" Name="Cloud" />
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id="INSTALLLOCATION" DiskId="1">
      <Directory Id="DISConfigurationCloud_RootDir" Name="DISConfigurationCloud">
        <Component Id="DISConfigurationCloud_Root" Guid="{2BBE3FFE-33F4-4AB8-A445-18553B2B64D6}">
          <CreateFolder Directory="DISConfigurationCloud_RootDir">
            <Permission User="Everyone" GenericAll="yes" />
          </CreateFolder>
          <File Id="DISConfigurationCloud.Web.config" Name="Web.config" Source="$(var.DISConfigurationCloud.ProjectDir)Web.config"/>
          <!--<File Id="DISConfigurationCloud.PrecompiledApp.config" Name="PrecompiledApp.config" Source="$(var.DISConfigurationCloud.ProjectDir)PrecompiledApp.config"/>-->
          <File Id="DISConfigurationCloud.site.Master" Name="Site.Master" Source="$(var.DISConfigurationCloud.ProjectDir)Site.Master"/>
          <File Id="DISConfigurationCloud.Global.asax" Name="Global.asax" Source="$(var.DISConfigurationCloud.ProjectDir)Global.asax"/> 
          <File Id="DISConfigurationCloud.About.aspx" Name="About.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)About.aspx"/>
          <File Id="DISConfigurationCloud.BackupDatabase.aspx" Name="BackupDatabase.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)BackupDatabase.aspx"/>
          <File Id="DISConfigurationCloud.BackupRecords.aspx" Name="BackupRecords.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)BackupRecords.aspx"/>
          <File Id="DISConfigurationCloud.CustomerDetail.aspx" Name="CustomerDetail.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)CustomerDetail.aspx"/>
          <File Id="DISConfigurationCloud.CustomerList.aspx" Name="CustomerList.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)CustomerList.aspx"/>
          <File Id="DISConfigurationCloud.CustomerWizard.aspx" Name="CustomerWizard.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)CustomerWizard.aspx"/>
          <File Id="DISConfigurationCloud.Default.aspx" Name="Default.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)Default.aspx"/>
          <File Id="DISConfigurationCloud.NewDatabase.aspx" Name="NewDatabase.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)NewDatabase.aspx"/>
          <File Id="DISConfigurationCloud.Popup.aspx" Name="Popup.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)Popup.aspx"/>
          <File Id="DISConfigurationCloud.RestoreDatabase.aspx" Name="RestoreDatabase.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)RestoreDatabase.aspx"/>  
          <!--<util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.DatabasePhysicalFileLocation" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="[DatabasePhysicalFileLocation]" ElementPath="/configurations/appSettings/add[\[]@key='DatabasePhysicalFileLocation'[\]]" Name="value" Sequence="1"/>-->
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.DatabaseBackupLocation" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="[BUSINESS_DB_BACKUP_LOCATION]" ElementPath="/configurations/appSettings/add[\[]@key='DatabaseBackupLocation'[\]]" Name="value" Sequence="1"/>
          <!--<util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.SQLCMDOuputLogFilePath" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="[SQLCMDOuputLogFilePath]" ElementPath="/configurations/appSettings/add[\[]@key='SQLCMDOuputLogFilePath'[\]]" Name="value" Sequence="3"/>-->
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.DataModelContainer" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=[DB_SERVER_ADDRESS];initial catalog=[DB_NAME];persist security info=True;user id=[DB_SERVER_LOGIN_NAME];password=[DB_SERVER_PASSWORD];MultipleActiveResultSets=True;App=EntityFramework'" ElementPath="/configurations/connectionStrings/add[\[]@name='DataModelContainer'[\]]" Name="connectionString" Sequence="2"/>
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.ApplicationServices" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="data source=[DB_SERVER_ADDRESS];User ID=[DB_SERVER_LOGIN_NAME];Password=[DB_SERVER_PASSWORD];Initial Catalog=aspnetdb" ElementPath="/configurations/connectionStrings/add[\[]@name='ApplicationServices'[\]]" Name="connectionString" Sequence="3"/>
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.MembershipProviderAppName" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="DISConfigurationCloud" ElementPath="/configurations/system.web/membership/providers/add[\[]@name='AspNetSqlMembershipProvider'[\]]" Name="applicationName" Sequence="4"/>
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.ProfileProviderAppName" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="DISConfigurationCloud" ElementPath="/configurations/system.web/profile/providers/add[\[]@name='AspNetSqlProfileProvider'[\]]" Name="applicationName" Sequence="5"/>
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.RoleManager.SqlRoleProviderAppName" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="DISConfigurationCloud" ElementPath="/configurations/system.web/roleManager/providers/add[\[]@name='AspNetSqlRoleProvider'[\]]" Name="applicationName" Sequence="6"/>
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.RoleManager.WindowsTokenRoleProviderAppName" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="DISConfigurationCloud" ElementPath="/configurations/system.web/roleManager/providers/add[\[]@name='AspNetWindowsTokenRoleProvider'[\]]" Name="applicationName" Sequence="7"/>
          <util:XmlFile Id="DISConfigurationCloud.Setting.Web.config.Diagnostic" File="[DISConfigurationCloud_RootDir]\Web.config" Action="setValue" Permanent="yes" Value="messages-dis-cloud-trace.svclog" ElementPath="/configurations/system.diagnostics/sources/source[\[]@name='DISConfigurationCloudTraceSource'[\]]/listeners/add[\[]@name='messages'[\]]" Name="initializeData" Sequence="8"/>
          <RemoveFolder Id="RemoveRootDir" Directory="DISConfigurationCloud_RootDir" On="uninstall"/>
        </Component>
        <Directory Id="DISConfigurationCloud_UserControls" Name="UserControls">
          <Component Id="DISConfigurationCloud_UserControls" Guid="{35572855-057E-44FF-85F1-E6DB936291BF}">
            <File Id="DISConfigurationCloud.UserControls.CustomerDatabaseSelector.ascx" Name="CustomerDatabaseSelector.ascx" Source="$(var.DISConfigurationCloud.ProjectDir)UserControls\CustomerDatabaseSelector.ascx"/>
            <File Id="DISConfigurationCloud.UserControls.DBBackupDetail.ascx" Name="DBBackupDetail.ascx" Source="$(var.DISConfigurationCloud.ProjectDir)UserControls\DBBackupDetail.ascx"/>
            <File Id="DISConfigurationCloud.UserControls.DBConnectionEditor.ascx" Name="DBConnectionEditor.ascx" Source="$(var.DISConfigurationCloud.ProjectDir)UserControls\DBConnectionEditor.ascx"/>
            <File Id="DISConfigurationCloud.UserControls.DBCreator.ascx" Name="DBCreator.ascx" Source="$(var.DISConfigurationCloud.ProjectDir)UserControls\DBCreator.ascx"/>
          </Component>
        </Directory>
         <Directory Id="DISConfigurationCloud_Account" Name="Account">
          <Component Id="DISConfigurationCloud_Account" Guid="{7CEC586E-F2A6-499B-940F-75124AB6257D}">
            <File Id="DISConfigurationCloud.Account.Web.config" Name="Web.config" Source="$(var.DISConfigurationCloud.ProjectDir)Account\Web.config"/>
            <File Id="DISConfigurationCloud.Account.ChangePassword.aspx" Name="ChangePassword.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)Account\ChangePassword.aspx"/>
            <File Id="DISConfigurationCloud.Account.ChangePasswordSuccess.aspx" Name="ChangePasswordSuccess.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)Account\ChangePasswordSuccess.aspx"/>
            <File Id="DISConfigurationCloud.Account.Login.aspx" Name="Login.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)Account\Login.aspx"/>
            <File Id="DISConfigurationCloud.Account.Register.aspx" Name="Register.aspx" Source="$(var.DISConfigurationCloud.ProjectDir)Account\Register.aspx"/>
          </Component>
        </Directory>
        <Directory Id="DISConfigurationCloud_Services" Name="Services">
          <Component Id="DISConfigurationCloud_Services" Guid="{6E3A3E33-F4C3-4106-9023-268430DBD185}">
            <File Id="DISConfigurationCloud.Services.DISConfigurationCloud.svc" Name="DISConfigurationCloud.svc" Source="$(var.DISConfigurationCloud.ProjectDir)Services\DISConfigurationCloud.svc"/>
          </Component>
        </Directory>
        <Directory Id="DISConfigurationCloud_Styles" Name="Styles">
          <Component Id="DISConfigurationCloud_Styles" Guid="{ABDEBBBB-4278-488D-BFCC-F1F85D63F73B}">
            <File Id="DISConfigurationCloud.Styles.Site.css" Name="Site.css" Source="$(var.DISConfigurationCloud.ProjectDir)Styles\Site.css"/>
          </Component>
        </Directory>
        <Directory Id="DISConfigurationCloud_Scripts" Name="Sripts">
          <Component Id="DISConfigurationCloud_Scripts" Guid="{576C2CF8-C961-410B-ABD5-F7FC7C1B20AB}">
            <File Id="DISConfigurationCloud.Scripts.jquery.1.4.1.vsdoc.js" Name="jquery-1.4.1-vsdoc.js" Source="$(var.DISConfigurationCloud.ProjectDir)Scripts\jquery-1.4.1-vsdoc.js"/>
            <File Id="DISConfigurationCloud.Scripts.jquery.1.4.1.js" Name="jquery-1.4.1.js" Source="$(var.DISConfigurationCloud.ProjectDir)Scripts\jquery-1.4.1.js"/>
            <File Id="DISConfigurationCloud.Scripts.jquery.1.4.1.min.js" Name="jquery-1.4.1.min.js" Source="$(var.DISConfigurationCloud.ProjectDir)Scripts\jquery-1.4.1.min.js"/>
            <File Id="DISConfigurationCloud.Scripts.KeyStore.publish.sql" Name="KeyStore.publish.sql" Source="$(var.DISConfigurationCloud.ProjectDir)Scripts\KeyStore.publish.sql"/>
          </Component>
        </Directory>
        <Directory Id="DISConfigurationCloud_Bin" Name="bin">
          <Component Id="DISConfigurationCloud_Bin" Guid="{7E054C87-DF77-4451-9742-17A7B7D69AB4}">
            <File Id="DISConfigurationCloud.DataModel.dll" Name="DataModel.dll" Source="$(var.DISConfigurationCloud.TargetDir)DataModel.dll"/>
            <File Id="DISConfigurationCloud.DISConfigurationCloud.dll" Name="DISConfigurationCloud.dll" Source="$(var.DISConfigurationCloud.TargetDir)DISConfigurationCloud.dll"/>
            <File Id="DISConfigurationCloud.DISConfigurationCloud.MetaManagement.dll" Name="DISConfigurationCloud.MetaManagement.dll" Source="$(var.DISConfigurationCloud.TargetDir)DISConfigurationCloud.MetaManagement.dll"/>
            <File Id="DISConfigurationCloud.DISConfigurationCloud.Security.dll" Name="DISConfigurationCloud.Security.dll" Source="$(var.DISConfigurationCloud.TargetDir)DISConfigurationCloud.Security.dll"/>
            <File Id="DISConfigurationCloud.DISConfigurationCloud.StorageManagement.dll" Name="DISConfigurationCloud.StorageManagement.dll" Source="$(var.DISConfigurationCloud.TargetDir)DISConfigurationCloud.StorageManagement.dll"/>
            <File Id="DISConfigurationCloud.DISConfigurationCloud.Utility.dll" Name="DISConfigurationCloud.Utility.dll" Source="$(var.DISConfigurationCloud.TargetDir)DISConfigurationCloud.Utility.dll"/>
            <File Id="DISConfigurationCloud.EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.DISConfigurationCloud.TargetDir)EntityFramework.dll"/>
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Component Id="DISConfigurationCloud_FW" Directory="TARGETDIR" Guid="{472D9B83-2D57-4E81-8DB3-3DED3C845054}">
      <fw:FirewallException Id="DISConfigurationCloud_FwException" Name="DIS Configuration Cloud" Scope="any" Port="[App_Server_Site_Port_Number]" Protocol="tcp" />
    </Component>

    <Component Id="DISConfigurationCloud_IIS" Directory="TARGETDIR" Guid="{02AF8898-905C-41C6-90F2-63684162970D}">
      <iis:WebAppPool Id="DISConfigurationCloud_AppPool" Name="[App_Server_App_Pool_Name]" Identity="localSystem" ManagedPipelineMode="integrated" ManagedRuntimeVersion="v4.0" />
      <iis:WebSite Id="DISConfigurationCloud_WebSite" Description="DIS Configuration Cloud" AutoStart="yes" Directory="DISConfigurationCloud_RootDir">
        <iis:WebAddress Id="DISConfigurationCloud_Address" Port="[App_Server_Site_Port_Number]" Secure="no" />
        <iis:WebApplication Id="DISConfigurationCloud_App" Name="[App_Server_Site_Name]" WebAppPool="DISConfigurationCloud_AppPool" />
      </iis:WebSite>
    </Component>

    <ComponentGroup Id="DISConfigurationCloudApplicationComponents">
      <ComponentRef Id="CreateRootDir"/>
      <ComponentRef Id="DISConfigurationCloud_Root"/>
      <ComponentRef Id="DISConfigurationCloud_UserControls"/>
      <ComponentRef Id="DISConfigurationCloud_Account"/>
      <ComponentRef Id="DISConfigurationCloud_Services"/>
      <ComponentRef Id="DISConfigurationCloud_Styles"/>
      <ComponentRef Id="DISConfigurationCloud_Scripts"/>
      <ComponentRef Id="DISConfigurationCloud_Bin"/>
      <ComponentRef Id="DISConfigurationCloud_FW"/>
      <ComponentRef Id="DISConfigurationCloud_IIS"/>
    </ComponentGroup>
    
	</Fragment>
</Wix>