<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Property Id="DB_Server_Address"></Property>
    <Property Id="DB_Server_Login_Name"></Property>
    <Property Id="DB_Server_Password"></Property>
    <Property Id="DB_Name" Value="DISConfigurationCloud"></Property>
    <Property Id="Is_Installing_MembershipDB" Value="true"></Property>
    <Property Id="Is_Installing_CloudDataDB" Value="true"></Property>
    <Property Id="App_Server_App_Pool_Name" Value="DISConfigurationCloudAppPool"></Property>
    <Property Id="App_Server_Site_Name" Value="DISConfigurationCloud"></Property>
    <Property Id="App_Server_Site_Root_Directory" Value="C:\DISConfigurationCloud"></Property>
    <Property Id="App_Server_Site_Port_Number" Value="8818"></Property>
    <Property Id="Business_DB_Backup_Location" Value="C:\DISConfigurationCloudData\Backup"></Property>

    <!--<Property Id="INSTALLLOCATION" Value="C:\OMSG\DIS Solution\DISConfigurationCloud">
      --><!--<RegistrySearch Id='InstallLocationProperty' Root='HKCU'
                      Key='SOFTWARE\Microsoft\DIS Solution\DISConfigurationCloud'
                      Name='InstallLocation' Type='raw' />--><!--
    </Property>-->

    <!--<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />-->

    <WixVariable Id="WixUILicenseRtf" Value="..\Resources\License.rtf" />
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <PropertyRef Id="NETFRAMEWORK40FULL_SERVICING_LEVEL"/>
    <Property Id="WIX_DOWNGRADE_DETECTED" Secure="yes" />
    <Property Id="WIX_UPGRADE_DETECTED" Secure="yes" />
  </Fragment>
</Wix>