<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >
  <Fragment>

    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="WebSerices" Name ="Web Services">
        <Directory Id="ExternalWebService_RootDir" Name="External Web Service">
          <Component Id="ExternalService_Root" Guid="{6AED447E-6FAE-4A8E-8671-14FCBDD2E4F4}">
            <File Id="WebService.KeyBinding192" Name="KeyBinding.svc" Source="$(var.ProviderWebService.ProjectDir)KeyBinding.svc" />
            <File Id="WebService.Web8415" Name="Web.config" Source="$(var.ProviderWebService.ProjectDir)Web.config" />
            <File Id="ExternalWebService.Default" Name="Default.aspx" Source="$(var.ProviderWebService.ProjectDir)Default.aspx" />
            <File Id="ExternalWebService.Global" Name="Global.asax" Source="$(var.ProviderWebService.ProjectDir)Global.asax" />
            <util:XmlFile Id="ExternalWebService_InstallTypeStr"  Action="setValue" Permanent="yes" File="[ExternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='InstallType'[\]]" Name="value"  Value="[INSTALLTYPEVALUE]"   Sequence="1"  />
            <util:XmlFile Id="ExternalWebService_ConfigurationCloudServicePoint"  Action="setValue" Permanent="yes" File="[ExternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='ConfigurationCloudServerAddress'[\]]" Name="value"  Value="[CONFIGURATION_CLOUD_SERVER_ADDRESS]"  Sequence="2"  />
            <util:XmlFile Id="ExternalWebService_ConfigurationCloudAuthHeader"  Action="setValue" Permanent="yes" File="[ExternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='ConfigurationCloudAuthHeader'[\]]" Name="value"  Value="[CONFIGURATION_CLOUD_USERNAME]:[CONFIGURATION_CLOUD_PASSWORD]"   Sequence="3"  />
            <util:XmlFile Id="ExternalWebService_CloudConfigCachePolicy"  Action="setValue" Permanent="yes" File="[ExternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='CloudConfigCachePolicy'[\]]" Name="value"  Value="[CLOUD_CONFIG_CACHE_POLICY]"   Sequence="4"  />
            <util:XmlFile Id="ExternalWebService_CloudConfigCacheStore"  Action="setValue" Permanent="yes" File="[ExternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='CloudConfigCacheStore'[\]]" Name="value"  Value="[INSTALLLOCATION][CLOUD_CONFIG_CACHE_STORE]"   Sequence="5"  />
          </Component>
          <Directory Id="ExternalWebservice_Bin" Name="bin">
            <Component Id="ExternalService_Bin" Guid="{0CDB0B66-746C-4747-B73C-EBCB49E7C739}">
              <File Id="ExternalWebservice.Client53248" Name="DIS.Business.Client.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Business.Client.dll" />
              <File Id="ExternalWebservice.Library34816" Name="DIS.Business.Library.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Business.Library.dll" />
              <File Id="ExternalWebservice.Proxy35328" Name="DIS.Business.Proxy.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Business.Proxy.dll" />
              <File Id="ExternalWebservice.Utility35329" Name="DIS.Common.Utility.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Common.Utility.dll"/>
              <File Id="ExternalWebservice.DataAccess309248" Name="DIS.Data.DataAccess.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Data.DataAccess.dll" />
              <File Id="ExternalWebservice.DataContract59392" Name="DIS.Data.DataContract.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Data.DataContract.dll" />
              <File Id="ExternalWebservice.ServiceContract59392" Name="DIS.Data.ServiceContract.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Data.ServiceContract.dll" />
              <File Id="ExternalWebservice.ExternalWebservice4608" Name="DIS.Services.ProviderWebservice.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Services.ProviderWebservice.dll" />
              <File Id="ExternalWebservice.WebServiceLibrary17920" Name="DIS.Services.WebServiceLibrary.dll" Source="$(var.ProviderWebService.TargetDir)DIS.Services.WebServiceLibrary.dll" />
              <File Id="ExternalWebservice.Http119648" Name="Microsoft.Http.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Http.dll" />
              <File Id="ExternalWebservice.Extensions28536" Name="Microsoft.Http.Extensions.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Http.Extensions.dll" />
              <File Id="ExternalWebservice.Common334648" Name="Microsoft.Practices.EnterpriseLibrary.Common.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Common.dll" />
              <File Id="ExternalWebservice.ExceptionHandling146232" Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
              <File Id="ExternalWebservice.Logging52024" Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll" />
              <File Id="ExternalWebservice.Database56120" Name="Microsoft.Practices.EnterpriseLibrary.Logging.Database.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.Database.dll" />
              <File Id="ExternalWebservice.Logging502584" Name="Microsoft.Practices.EnterpriseLibrary.Logging.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
              <File Id="ExternalWebservice.Web117112" Name="Microsoft.ServiceModel.Web.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.ServiceModel.Web.dll" />
              <File Id="ExternalWebservice.ServiceLocation27448" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.ServiceLocation.dll" />
              <File Id="ExternalWebservice.Data166712" Name="Microsoft.Practices.EnterpriseLibrary.Data.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Data.dll" />
              <File Id="ExternalWebservice.Unity133944" Name="Microsoft.Practices.Unity.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.Unity.dll" />
              <File Id="ExternalWebservice.Interception125752" Name="Microsoft.Practices.Unity.Interception.dll" Source="$(var.ProviderWebService.TargetDir)Microsoft.Practices.Unity.Interception.dll" />
              <File Id="ExternalWebservice.EntityFramework112" Name="EntityFramework.dll" Source="..\Resources\EntityFramework.dll" />
              <File Id="ExternalWebService.DISConfiguationCloudClient" Name="DISConfigurationCloud.Client.dll" Source="$(var.ProviderWebService.TargetDir)DISConfigurationCloud.Client.dll"/>
              <File Id="ExternalWebService.DISConfiguationCloudResourceIntegrator" Name="DISConfigurationCloud.ResourceIntegrator.dll" Source="$(var.ProviderWebService.TargetDir)DISConfigurationCloud.ResourceIntegrator.dll"/>
              <!--<File Id="ExternalWebservice.CloudConfigsXml" Name="Cloud-Configs.xml" Source="$(var.ProviderWebService.TargetDir)Cloud-Configs.xml"/>-->
            </Component>
          </Directory>
        </Directory>
        
        <Directory Id="InternalWebService_RootDir" Name="Internal Web Services">
          <Component Id="InternalService_Root" Guid="{CEBCD003-E88B-44D5-84E8-D3EBF06B332C}">
            <File Id="InternalWebservice.KeyBinding114" Name="KeyBinding.svc" Source="$(var.TransferWebService.ProjectDir)KeyBinding.svc" />
            <File Id="InternalWebservice.Web8672" Name="Web.config" Source="$(var.TransferWebService.ProjectDir)Web.config" />
            <File Id="InternalWebService.Default" Name="Default.aspx" Source="$(var.TransferWebService.ProjectDir)Default.aspx" />
            <File Id="InternalWebService.Global" Name="Global.asax" Source="$(var.TransferWebService.ProjectDir)Global.asax" />
            <util:XmlFile Id="InternalWebservice_InstallTypeStr"  Action="setValue" Permanent="yes" File="[InternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='InstallType'[\]]" Name="value"  Value="[INSTALLTYPEVALUE]"   Sequence="1"  />
            <util:XmlFile Id="InternalWebService_ConfigurationCloudServicePoint"  Action="setValue" Permanent="yes" File="[InternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='ConfigurationCloudServerAddress'[\]]" Name="value"  Value="[CONFIGURATION_CLOUD_SERVER_ADDRESS]"   Sequence="2"  />
            <util:XmlFile Id="InternalWebService_ConfigurationCloudAuthHeader"  Action="setValue" Permanent="yes" File="[InternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='ConfigurationCloudAuthHeader'[\]]" Name="value"  Value="[CONFIGURATION_CLOUD_USERNAME]:[CONFIGURATION_CLOUD_PASSWORD]"   Sequence="3"  />
            <util:XmlFile Id="InternalWebService_CloudConfigCachePolicy"  Action="setValue" Permanent="yes" File="[InternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='CloudConfigCachePolicy'[\]]" Name="value"  Value="[CLOUD_CONFIG_CACHE_POLICY]"   Sequence="4"  />
            <util:XmlFile Id="InternalWebService_CloudConfigCacheStore"  Action="setValue" Permanent="yes" File="[InternalWebService_RootDir]\Web.config"  ElementPath="/configuration/appSettings/add[\[]@key='CloudConfigCacheStore'[\]]" Name="value"  Value="[INSTALLLOCATION][CLOUD_CONFIG_CACHE_STORE]"   Sequence="5"  />
          </Component>
          <Directory Id="InternalWebService_Bin" Name="bin">
            <Component Id="InternalService_Bin" Guid="{BCBA4D21-BA7B-46FB-BF43-7DDAC0716998}">
              <File Id="InternalWebservice.Client53248" Name="DIS.Business.Client.dll" Source="$(var.TransferWebService.TargetDir)DIS.Business.Client.dll" />
              <File Id="InternalWebservice.Library34816" Name="DIS.Business.Library.dll" Source="$(var.TransferWebService.TargetDir)DIS.Business.Library.dll" />
              <File Id="InternalWebservice.Proxy35328" Name="DIS.Business.Proxy.dll" Source="$(var.TransferWebService.TargetDir)DIS.Business.Proxy.dll" />
              <File Id="InternalWebservice.Common35328" Name="DIS.Common.Utility.dll" Source="$(var.TransferWebService.TargetDir)DIS.Common.Utility.dll" />
              <File Id="InternalWebservice.DataAccess309248" Name="DIS.Data.DataAccess.dll" Source="$(var.TransferWebService.TargetDir)DIS.Data.DataAccess.dll" />
              <File Id="InternalWebservice.DataContract59392" Name="DIS.Data.DataContract.dll" Source="$(var.TransferWebService.TargetDir)DIS.Data.DataContract.dll" />
              <File Id="InternalWebservice.ServiceContract59392" Name="DIS.Data.ServiceContract.dll" Source="$(var.TransferWebService.TargetDir)DIS.Data.ServiceContract.dll" />
              <File Id="InternalWebservice.InternalWebserviceWebService4608" Name="DIS.Services.TransferWebService.dll" Source="$(var.TransferWebService.TargetDir)DIS.Services.TransferWebService.dll" />
              <File Id="InternalWebservice.WebServiceLibrary17920" Name="DIS.Services.WebServiceLibrary.dll" Source="$(var.TransferWebService.TargetDir)DIS.Services.WebServiceLibrary.dll" />
              <File Id="InternalWebservice.Http119648" Name="Microsoft.Http.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Http.dll" />
              <File Id="InternalWebservice.Extensions28536" Name="Microsoft.Http.Extensions.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Http.Extensions.dll" />
              <File Id="InternalWebservice.Common334648" Name="Microsoft.Practices.EnterpriseLibrary.Common.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Common.dll" />
              <File Id="InternalWebservice.Data166712" Name="Microsoft.Practices.EnterpriseLibrary.Data.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Data.dll" />
              <File Id="InternalWebservice.ExceptionHandling146232" Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
              <File Id="InternalWebservice.Logging52024" Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll" />
              <File Id="InternalWebservice.Database56120" Name="Microsoft.Practices.EnterpriseLibrary.Logging.Database.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.Database.dll" />
              <File Id="InternalWebservice.Logging502584" Name="Microsoft.Practices.EnterpriseLibrary.Logging.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
              <File Id="InternalWebservice.ServiceLocation29760" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.ServiceLocation.dll" />
              <File Id="InternalWebservice.Unity133944" Name="Microsoft.Practices.Unity.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.Unity.dll" />
              <File Id="InternalWebservice.Interception125752" Name="Microsoft.Practices.Unity.Interception.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.Practices.Unity.Interception.dll" />
              <File Id="InternalWebservice.Web117112" Name="Microsoft.ServiceModel.Web.dll" Source="$(var.TransferWebService.TargetDir)Microsoft.ServiceModel.Web.dll" />
              <File Id="InternalWebservice.EntityFramework112" Name="EntityFramework.dll" Source="..\Resources\EntityFramework.dll" />
              <File Id="InternalWebService.DISConfiguationCloudClient" Name="DISConfigurationCloud.Client.dll" Source="$(var.TransferWebService.TargetDir)DISConfigurationCloud.Client.dll"/>
              <File Id="InternalWebService.DISConfiguationCloudResourceIntegrator" Name="DISConfigurationCloud.ResourceIntegrator.dll" Source="$(var.TransferWebService.TargetDir)DISConfigurationCloud.ResourceIntegrator.dll"/>
              <!--<File Id="InternalWebService.CloudConfigsXml" Name="Cloud-Configs.xml" Source="$(var.TransferWebService.TargetDir)Cloud-Configs.xml"/>-->
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Component Id="ExternalWebService_FW" Directory="TARGETDIR" Guid="{1F3AF95D-6152-44B7-8C8A-265E165426C9}">
      <fw:FirewallException Id="FactoryFloorExternalWebservice_FwException" Name="Factory Floor External Web Service" Scope="any" Port="[EXPORT]" Protocol="tcp" />
    </Component>
    <Component Id="ExternalWebService_IIS" Directory="TARGETDIR" Guid="{24F1A832-38AC-4D4A-A035-F134622FD281}">
      <iis:Certificate Id="DisExternalRootCert" Name="DisExternalRootCert" StoreName="root" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CABinary"/>
      <iis:Certificate Id="DisExternalCFGCert" Name="DisExternalCFGCert" StoreName="my" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CFGBinary" PFXPassword="123"/>
      <iis:Certificate Id="DisExternalIISCert" Name="DisExternalIISert" StoreName="my" StoreLocation="localMachine" Overwrite="yes" BinaryKey="IISBinary" PFXPassword="123"/>
      <iis:Certificate Id="DisExternalCrlCert" Name="DisExternalCrlCert" StoreName="root" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CrlBinary"/>
      
      <iis:WebAppPool Id="FactoryFloorExternalWebservice_AppPool" Name="FactoryFloorExternalAppPool" Identity="localSystem" ManagedPipelineMode="integrated" ManagedRuntimeVersion="v4.0" />
      <iis:WebSite Id="FactoryFloorExternalWebservice_WebSite" Description="DIS Factory Floor External Web Service" AutoStart="yes" Directory="ExternalWebService_RootDir">
        <iis:CertificateRef Id="DisExternalIISCert" />
        <iis:WebAddress Id="FactoryFloorExternalWebservice_Address" Port="[EXPORT]" Secure="yes" />
        <iis:WebApplication Id="FactoryFloorExternalWebservice_App" Name="FactoryFloorExternalWebservice" WebAppPool="FactoryFloorExternalWebservice_AppPool" />
      </iis:WebSite>
    </Component>
    
    <Component Id="InternalWebService_IIS" Directory="TARGETDIR" Guid="{03EDC3FE-BAE6-432B-B32A-719E8CB55D6E}">
      <iis:Certificate Id="DisInternalRootCert" Name="DisInternalRootCert" StoreName="root" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CABinary"/>
      <iis:Certificate Id="DisInternalCrlCert" Name="DisInternalCrlCert" StoreName="root" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CrlBinary"/>
      <iis:Certificate Id="DisInternalCFGCert" Name="DisInternalCFGCert" StoreName="my" StoreLocation="localMachine" Overwrite="yes" BinaryKey="CFGBinary" PFXPassword="123"/>
      <iis:Certificate Id="DisInternalIISCert" Name="DisInternalIISert" StoreName="my" StoreLocation="localMachine" Overwrite="yes" BinaryKey="IISBinary" PFXPassword="123"/>     
      
      <iis:WebAppPool Id="FactoryFloorInternalWebservice_AppPool" Name="FactoryFloorInternalAppPool" Identity="localSystem" ManagedPipelineMode="integrated" ManagedRuntimeVersion="v4.0" />
      <iis:WebSite Id="FactoryFloorInternalWebservice_WebSite" Description="DIS Factory Floor Internal Web Service" AutoStart="yes" Directory="InternalWebService_RootDir">
        <iis:CertificateRef Id="DisInternalIISCert" />
        <iis:WebAddress Id="FactoryFloorInternalWebservice_Address" Port="[INPORT]" Secure="yes" />
        <iis:WebApplication Id="FactoryFloorInternalWebservice_App" Name="FactoryFloorInternalWebservice" WebAppPool="FactoryFloorInternalWebservice_AppPool" />
      </iis:WebSite>
    </Component>

    <Component Id="InternalWebService_FW" Directory="TARGETDIR" Guid="{29808CF5-D9A6-4C6D-A699-F25A462DAE36}">
      <fw:FirewallException Id="FactoryFloorInternalWebservice_FwException" Name="FactoryFloor Internal Web Service" Scope="localSubnet" Port="[INPORT]" Protocol="tcp" />
    </Component>

    <ComponentGroup Id="WebserviceCompnents">
      <ComponentRef Id="InternalWebService_FW"/>
      <ComponentRef Id="InternalWebService_IIS"/>
      <ComponentRef Id="InternalService_Bin"/>
      <ComponentRef Id="InternalService_Root"/>
      <ComponentRef Id="ExternalWebService_IIS"/>
      <ComponentRef Id="ExternalWebService_FW"/>
      <ComponentRef Id="ExternalService_Bin"/>
      <ComponentRef Id="ExternalService_Root"/>
    </ComponentGroup>

    <CustomAction Id='InsertDbPortAction' BinaryKey='ConnectDbBinary' DllEntry='InsertInternalWebService' />
    
  </Fragment>
</Wix>
