<div>
    <p style="font-weight:bolder;font-size:x-large;text-decoration:underline;font-family:Arial">{{currentTestItemName}}</p>
    <table class="table">
        <tr>
            <td>Min Value: </td>
            <td>
                {{testItems[currentTestItemName].Min}}
            </td>
        </tr>
        <tr>
            <td>Max Value: </td>
            <td>
                {{testItems[currentTestItemName].Max}}
            </td>
        </tr>
        <tr ng-show="(testItems[currentTestItemName].Expected != null)">
            <td>Expected Value: </td>
            <td>
                {{testItems[currentTestItemName].Expected}}
            </td>
        </tr>
        <tr ng-show="(testItems[currentTestItemName].Unexpected != null)">
            <td>Unexpected Value: </td>
            <td>
                {{testItems[currentTestItemName].Unexpected}}
            </td>
        </tr>
        <tr>
            <td>Test Value: </td>
            <td style="background-color:yellow">
                {{testItems[currentTestItemName].Value}} (Length: {{getValueLength(testItems[currentTestItemName].Value)}} characters)
            </td>
        </tr>
        <tr>
            <td>Result: </td>
            <td ng-style="((testItems[currentTestItemName].Result == 'Passed') && {'background-color': 'forestgreen'}) || ((testItems[currentTestItemName].Result == 'Failed') && {'background-color': 'red'})">
                {{testItems[currentTestItemName].Result}}
            </td>
        </tr>
        <tr>
            <td>Detail: </td>
            <td>
                <span ng-repeat="detailItem in currentDetailKeyValues">{{detailItem.Key}}: &nbsp;{{detailItem.Value}}<br/></span>
            </td>     
        </tr>
    </table>
    <p style="text-align:center">
        <a href="#" class="btn btn-info btn-lg" ng-click="closeDialog()">Go Back</a>
    </p>
</div>