<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="UrlInstallImages" value="file://{0}\Views\InstallImages.html"/>
  <add key="UrlBootImages" value="file://{0}\Views\BootImages.html"/>
  <add key="UrlImageGroups" value="file://{0}\Views\ImageGroups.html"/>
</appSettings>
</configuration>