<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Aria" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Cookies" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Loader" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Locale" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.MessageFormat" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Messages" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.OnlyJS" version="1.2.26.0" targetFramework="net452" />
  <package id="AngularJS.ParseExt" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Resource" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.6.5" targetFramework="net452" />
  <package id="AngularJS.Touch" version="1.6.5" targetFramework="net452" />
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="Geckofx45" version="45.0.32" targetFramework="net452" />
  <package id="Geckofx45.64" version="45.0.32" targetFramework="net452" />
  <package id="jQuery" version="1.9.1" targetFramework="net452" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="ngDialog" version="0.3.1" targetFramework="net452" />
  <package id="ngTable" version="3.0.1" targetFramework="net452" />
</packages>