<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Client Pulse</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="../Content/style.css" />
    <link rel="stylesheet" type="text/css" href="../Content/ngDialog-theme-default.css" />
    <link rel="stylesheet" type="text/css" href="../Content/ngDialog.css" />
    <link rel="stylesheet" type="text/css" href="../Content/ngDialog.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="../Content/ng-table.css"/>
    <link rel="stylesheet" type="text/css" href="../Content/ng-table.min.css" />-->
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-mocks.js"></script>
    <script src="../Scripts/angular-aria.js"></script>
    <script src="../Scripts/angular-aria.min.js"></script>
    <script src="../Scripts/angular-animate.js"></script>
    <script src="../Scripts/angular-animate.min.js"></script>
    <script src="../Scripts/angular-cookies.js"></script>
    <script src="../Scripts/angular-cookies.min.js"></script>
    <script src="../Scripts/angular-loader.js"></script>
    <script src="../Scripts/angular-loader.min.js"></script>
    <script src="../Scripts/angular-message-format.js"></script>
    <script src="../Scripts/angular-message-format.min.js"></script>
    <script src="../Scripts/angular-messages.js"></script>
    <script src="../Scripts/angular-messages.min.js"></script>
    <script src="../Scripts/angular-resource.js"></script>
    <script src="../Scripts/angular-resource.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/angular-sanitize.js"></script>
    <script src="../Scripts/angular-sanitize.min.js"></script>
    <script src="../Scripts/angular-scenario.js"></script>
    <script src="../Scripts/angular-touch.js"></script>
    <script src="../Scripts/angular-touch.min.js"></script>
    <script src="../Scripts/ngDialog.js"></script>
    <script src="../Scripts/ngDialog.min.js"></script>
    <!--<script src="../Scripts/ng-table.js"></script>
    <script src="../Scripts/ng-table.min.js"></script>-->
    <script src="../Scripts/app.js"></script>
    <script src="../Configs/config.json"></script>
</head>
<body ng-app="WindowsManufacturingStudio">
    <div ng-controller="ClientPulseController" ng-init="getWdsClients()">
        <p>
            &#160;&#160; 
            <a href="#" class="btn btn-info btn-lg" ng-click="closeWindow()"><!--<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;-->Back</a>
            &#160; 
            <a href="#" class="btn btn-info btn-lg" ng-click="getWdsClients()"><!--<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;-->Refresh</a>
            &#160; 
            <a href="#" id="btn_RefreshMdl" ng-hide="true" ng-click="refreshModel()" />
        </p>
        <br />
        <table class="table">
            <tr>
                <th>Client ID</th>
                <th>Staus</th>
            </tr>
            <tr ng-repeat="wdsClient in wdsClients">
                <td>{{wdsClient.Key}}</td>
                <td>{{wdsClient.Value}}</td>
            </tr>
        </table>
    </div>
    <script id="socket-io-client-ref" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        function createGuid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        var valuePolicy = {
            AlphaNum: "alpha_num",
            Int: "int",
            Decimal: "decimal",
            DateTime: "datetime",
            Password: "password",
            DBCCase: "dbc_case"
        };

        function purgeValue(policy, source) {
            switch (policy) {
                case valuePolicy.AlphaNum:
                    {
                        source.value = source.value.replace(/[^a-zA-Z0-9_\-\.]/g, '');
                        break;
                    }
                case valuePolicy.Int:
                    {
                        source.value = source.value.replace(/[^\d]/g, '');
                        break;
                    }
                case valuePolicy.Decimal:
                    {
                        source.value = source.value.replace(/[^0-9\.]/g, '');
                        break;
                    }
                case valuePolicy.Password:
                    {
                        break;
                    }
                case valuePolicy.DBCCase:
                    {
                        source.value = source.value.replace(/[\uFF00-\uFFFF]/g, '');
                        source.value = source.value.replace(/[\u4E00-\u9FA5]/g, '');
                        break;
                    }
                default:
                    {
                        source.value = source.value.replace(/[\uFF00-\uFFFF]/g, '');
                        source.value = source.value.replace(/[\u4E00-\u9FA5]/g, '');
                        break;
                    }
            }
        }

        var settings = Settings.Data;

        var appModule = angular.module("WindowsManufacturingStudio", ['ngDialog']).controller("ClientPulseController",

        function ($scope, $location, $http, ngDialog) {

            $scope.currentDialog = null;

            $scope.socket = io.connect(settings.WebSocketUrl);

            $scope.wdsClients = [];

            $scope.closeWindow = function () {
                event = new MessageEvent("CloseWindow", { "view": window, "bubbles": false, "cancelable": true, 'data': "Close" });
                document.dispatchEvent(event);
            };

            $scope.showProgress = function () {
                $scope.currentDialog = ngDialog.open({
                    scope: $scope,
                    className: 'ngdialog-theme-default',
                    template: 'progress-template.html',//'<img src=\"/Content/progress_blue.gif\" height=\"26\" width=\"26\"/><br/><p>Processing, please wait...</p>',
                    //plain: true,
                    showClose: false,
                    closeByDocument: false,
                    closeByEscape: false,
                    width: 100,
                    preCloseCallback: function (value) {
                        return true;
                    }
                });
            };

            $scope.hideProgress = function () {
                ngDialog.closeAll();
            };

            $scope.getWdsClients = function ()
            {
                $scope.showProgress();

                var url = settings.WdsApiUrl;

                var servicePoint = "wds/terminal/status/keys/all";

                $http.get(url + servicePoint).then(function (data) {

                    //alert(JSON.stringify(data));

                    $scope.wdsClients.splice(0, $scope.wdsClients.length);

                    if (data != null && data.data != null && data.data != "")
                    {
                        //$scope.wdsClients.splice(0, $scope.wdsClients.length);

                        if (data.data.length > 0) {
                            for (var i = 0; i < data.data.length; i++) {
                                $scope.wdsClients.push({Key:data.data[i], Value:""});
                            }
                        }
                        else {
                            $scope.wdsClients.push({ Key: data.data, Value: "" });
                        }
                    }

                    $scope.hideProgress();

                    $scope.getWdsClientStatus();
                });
            };

            $scope.getWdsClientStatus = function ()
            {
                if ($scope.wdsClients != null && $scope.wdsClients.length > 0) {
                    var url = settings.WdsApiUrl;
                    var servicePoint = "wds/terminal/status/";

                    for (var i = 0; i < $scope.wdsClients.length; i++) {
                        $http.get(url + servicePoint + $scope.wdsClients[i].Key).then(function (data) {
                            if (data != null && data.data != null && data.data != "")
                            {
                                var key = data.config.url;
                                key = key.substring((key.lastIndexOf("/") + 1));

                                for (var i = 0; i < $scope.wdsClients.length; i++) {
                                    if ($scope.wdsClients[i].Key == key)
                                    {
                                        $scope.wdsClients[i].Value = data.data;
                                        break;
                                    }
                                }
                            }
                        });
                    }
                }
            };

            $scope.refreshModel = function () { };

            $scope.socket.on("msg:clientStat", function (obj) {

                //$scope.wdsClients.push(obj);

                if (obj) {
                    if ($scope.wdsClients.length > 0) {
                        for (var i = 0; i < $scope.wdsClients.length; i++) {
                            if ($scope.wdsClients[i].Key == obj.Key) {
                                $scope.wdsClients[i].Value = obj.Value;
                                break;
                            }
                        }
                    } else {
                        $scope.wdsClients.push(obj);
                    }
                }

                document.getElementById("btn_RefreshMdl").click();
            });
        });
    </script>
</body>
</html>