<div>
    <dl class="dl-horizontal">
        <dt>Key: </dt>
        <dd>
            <input type="text" ng-model="newImageLookup.Key" class="form-control" maxlength="60" onkeyup="purgeValue(valuePolicy.DBCCase, this)" onmouseout="purgeValue(valuePolicy.DBCCase, this)" />
        </dd>
        <dt>Value: </dt>
        <dd>
            <input type="text" ng-model="newImageLookup.Value" class="form-control" maxlength="120" onkeyup="purgeValue(valuePolicy.DBCCase, this)" onmouseout="purgeValue(valuePolicy.DBCCase, this)" />
        </dd>
    </dl>
    <input type="submit" value="OK" class="btn btn-info btn-lg" ng-click="setImageLookup()" />
</div>